<?xml version="1.0" encoding="utf-8"?>

<Context path="/viewer/spring/" docBase="viewer" debug="5" reloadable="true" crossContext="true">
    <Resource name="jdbc/vcReportingDB"
              auth="Container"
              type="javax.sql.DataSource"
              initialSize = "10"
              maxActive="40"
              maxIdle="20"
              minIdle="10"
              maxWait="15000"
              validationQuery="select 1"
              testWhileIdle="true"
              username="root"
              password="123"
              driverClassName="com.mysql.jdbc.Driver"
              url="jdbc:mysql://127.0.0.1:3306/vigraha?autoReconnect=true"
              description="MySQL Sfdata DB"/>
</Context>